[submodule "src/warp-rnnt"]
	path = src/warp-rnnt
	url = git@github.com:maxwellzh/warp-rnnt.git
[submodule "src/torch-gather"]
	path = src/torch-gather
	url = git@github.com:maxwellzh/torch-gather.git
[submodule "src/ctcdecode"]
	path = src/ctcdecode
	url = https://github.com/maxwellzh/ctcdecode.git
[submodule "src/warp-rna"]
	path = src/warp-rna
	url = https://github.com/maxwellzh/warp-rna.git
