# gather >= 0.2.3
-e git+ssh://git@github.com/maxwellzh/torch-gather.git#egg=gather
# warp-rnnt >= 0.7.4
-e git+ssh://git@github.com/maxwellzh/warp-rnnt.git#egg=warp-rnnt&subdirectory=pytorch_binding
# webdataset do not use 'pip install webdataset', that's outdated
-e git+ssh://git@github.com/webdataset/webdataset.git@d7334016f44a03c4a385971aa835c4f460d3f30a#egg=webdataset
# kenlm
-e git+ssh://git@github.com/kpu/kenlm.git#egg=kenlm

# cat
-e .